@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    height: 100%;
}
/*===LOGIN===*/
.login_container{
    background-image: url('../img/pogo_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    align-content: center;
    min-width: 1050px;
}
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.95) !important;
}

.card-header h3{
    color: white;
}
.register_card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 800px;
    background-color: rgba(0,0,0,0.95) !important;
}
.edit_profile_card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 800px;
}
.registered_card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(0,0,0,0.95) !important;
    color: white;
    font-size:45px;
    text-align: center;
    padding:10px;
}
.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: white;
    background-color: #3746A5;
}

.logout_btn{
    color: black;
    background-color: #FFC312;
    width: 120px;
    margin: 0px !important;
}

.logout_btn:hover{
    color: white;
    background-color: #3746A5;
}

.links{
    color: white;
}

.links a{
    color: #3746A5;
    margin-left: 4px;
    text-decoration: none;
}
.links a:hover{
    color: #3746FF;
}
.header_main{
    text-align: center;
    font-size: 35px;
}
.spacer{
    height: 10px;
}
.card_main{
    height: 600px;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(0,0,0,0.95) !important;
    color:antiquewhite;
}
.card_main_top{
    background-color: rgba(0,0,0,0.95) !important;
    padding: 10px;   
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    color:antiquewhite;
}
#card_main_top_element_nick{
    width:140px;
    margin 5px;
    text-align: center;
}
#card_main_top_element_button{
    width:120px;
    margin 5px;
    text-align: center;
}
.card_main_top_element{
    margin 5px;
    text-align: center;
}
.areny{
    width: 24.5%;
    padding: 10px;
    min-height:420px;
    height: auto;
    text-align:left;
    float: left;
    font-size: 14px;
    margin: 0.25%;
    position: relative;
}
.bottom_of{
    position: absolute;
    bottom: 5px;
    left: 2%;
    right: 2%;
    width: 96% !important;
}
.przejeta{
    box-shadow:inset 0px 0px 3px 1px red;
}
.wolna{
    box-shadow:inset 0px 0px 3px 1px green;
}
wybor_druzyny_container{
    width: 100%;
}
.team_text{
    background-color: rgba(0,0,0,0.95) !important;
    border-radius: 50%;
    padding-top: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
.team_thanks{
    width: 100% !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    border-right: none !important;
}
.team_valor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Team_Valor.png") !important;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 33.33%;
    border-right: 1px solid antiquewhite;
    float: left;
}
.wybor_druzyny_container .team_valor:hover{
    background-color: dimgrey;
    color: red;
}
.team_mystic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Team_Mystic.png") !important;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 33.33%;
    border-right: 1px solid antiquewhite;
    float: left;
}
.wybor_druzyny_container .team_mystic:hover{
    background-color: dimgrey;
    color: blue;
}
.end_alert{
    padding-top: 230px !important;
}
.end_alert_zlapano{
    padding-top: 180px !important;
}
.team_instinct{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Team_Instinct.png") !important;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 33.33%;
    float: left;
}
.wybor_druzyny_container .team_instinct:hover{
    background-color: dimgrey;
    color: yellow;
}
td{
    text-align: center;
}
tr:hover{
    background-color: rgba(30,30,30,1) !important;
    
}